.region-header {
	padding-top: 1em;
  padding-bottom: 1em;
	position: relative;
}

.region-hero {
  padding-top: 2.5em;
  padding-bottom: 2.5em;

	.block {

		color: white;

		@include bp("mama-bear") {
			width: 50%;
		}

		h1, h2, h3, h4 {
			color: white;
		}
	}
}

.path-frontpage {
  h1.page-title {
	text-align: center;
	font-size: 200%;
	color: black;
  }
}
