/*------------------------------------*\
    #GRID HINTS

    < TEDDY = FULL WIDTH STACKED DIVS
    TEDDY   = 6 COL GRID WITH STACKED SIDEBARS
    BABY    = AS TEDDY
    MAMA    = 12 COL FLUID GRID WITH SIDEBARS
    PAPA    = 12 COL GRID FIXED AT 62EM WIDTH CONTAINER
    GRIZZLY = 12 COL GRID FIXED AT 75EM WIDTH CONTAINER
\*------------------------------------*/

// Container divs based on Susy map
.container,
.container-narrow {
	@include container;
	width: 100%;

	box-sizing: border-box;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	@include bp("papa-bear") {
		width: $bp-papa-bear-container;
	}

	@include bp("grizzly-bear") {
		width: $bp-grizzly-bear-container;
	}
}

.container-narrow {
	@include bp("papa-bear") {
		width: $bp-papa-bear-container - 6rem;
	}

	@include bp("grizzly-bear") {
		width: $bp-grizzly-bear-container - 8rem;
	}
}

header[role=banner] {
	background-image: url('../images/banner_background.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

main[role=main] {
	background: #f7f7f7;
	padding: 3em 0;
}